<?xml version="1.0" encoding="UTF-8"?>

<!--mybatis的DTD约束-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    mapper：核心根标签
    namespace：属性：名称空间

-->
<mapper namespace="com.study.mapper.StudentMapper">
<!--
    select：查询功能标签
    id：唯一标识
    resultType：制定结果映射对象类型
    parameterType：指定参数映射对象类型
-->
    <select id="selectAll" resultType="student">
        select * from student;
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultType="student">
        select * from student where id = #{id}
    </select>
    <insert id="insert" parameterType="student">
        insert into student (id,name,age) values(#{id},#{name},#{age})
    </insert>
    <update id="update" parameterType="student">
    update student set name =#{name},age=#{age} where id =#{id}

    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from student where id =#{id}

    </delete>
</mapper>