<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd"
>
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="accountService" class="com.study.service_aop.impl.AccountServiceImplAop">
        <property name="accountDao" ref="accountDao"/>
<!--        <property name="dataSource" ref="dataSource"/>-->
    </bean>

    <!--    定义数据源-->
    <bean id="dataSource1" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--    spring 整合mybatis后控制的创建连接用的对象-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource1"/>
        <property name="typeAliasesPackage" value="com.study.domain"/>
    </bean>

    <!--    加载mybatis映射配置的扫描，将其作为spring的bean进行管理-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.study.dao1"/>
    </bean>

    <!--    设定实物管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource1" />
    </bean>
    <!--    定义事务管理的通知类-->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="*" read-only="false"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="transferaop" read-only="false"/>

            <!--
                timeout   超时 -1 表示不限制
                isolation 隔离级
                rollback-for        遇到特定异常回滚
                no-rollback-for     遇到特定异常不回滚
                propagation
            -->
            <tx:method
                    name="transferaop"
                    read-only="false"
                    timeout="-1"
                    isolation="DEFAULT"
                    rollback-for=""
                    no-rollback-for=""
                    propagation="REQUIRED"
                />
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <!--
            关键字(访问修饰符 返回值 包名.类名.方法名(参数) 异常名)
            egg:execution(pubilc User com.study.service.UserService.save(int))
            切入点表达式（通配符）
            *   单个独立的任意符号
            ..  多个连续的任意符号
            +   专用于匹配子类类型
            -->
        <aop:pointcut id="pt" expression="execution(* com.study.service_aop.*Service.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
    </aop:config>

</beans>